<launch>
  <param name="robot_description"
    textfile="$(find cartographer_ros)/urdf/radmap.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher"
    type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename radmap.lua"
      output="screen">
  </node>
</launch>
